<div class="container mt-5">
    <h2>Territories</h2>
    <p>Here are the list of territories</p>

    <ul id="myUL" *ngFor="let item of parentList">
        <li>
            <span class="caret" (click)="myFunction()">{{item.data.parent}}</span>
            <ul class="nested">
                <li *ngFor="let child1 of item.data.child.child1">
                    <span class="caret" (click)="myFunction()">{{child1}}</span>
                    <ul class="nested">
                        <li *ngFor="let child2 of item.data.child.child.child2">
                            <span class="caret">{{child2}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>