<ng-template #authenticated>
    <perfect-scrollbar class="page-wrapper">
        <app-side-bar></app-side-bar>
        <perfect-scrollbar class="content">
            <input type="hidden" id="contentState" value="open" />
            <app-nav-bar [userId]="userId"></app-nav-bar>
            <main class="page-content" role="main">
                <perfect-scrollbar>
                    <router-outlet></router-outlet>
                </perfect-scrollbar>
            </main>
        </perfect-scrollbar>
    </perfect-scrollbar>
</ng-template>